@font-face {
	/* Font courtesy of FontPalace.com (http://www.fontpalace.com/font-download/Mathematical+Pi+1/) */
	font-family: "Math";
	src: url("../font/MathWithGreek.ttf");
}

i.font-math {
	font-family: "Math";
	font-style: normal;
}


.fraction {
	display:inline-flex;
	flex-direction: column;
}

.fraction .fraction-num {
	border-bottom: 1px solid black;
	margin-bottom: -1px!important;
}

.fraction .fraction-den {
	border-top: 1px solid black;
}

.fraction .fraction-den, .fraction .fraction-num {
	box-sizing: border-box;
	display: flex;
	margin:auto;
	padding:3px;
}